---
Bot:
    CommandPrefix: '?'
    Activity: '?help for help'
    CogDirectory: cogs
    Cogs:
        - anagrams
        - garlic
        - pokemon

Anagram:
    Corpus: resources/anagrams/words.json
    NoOfQuestions: 10
    QuestionLimit: 50
    TimeToFirstQuestion: 3
    TimeToNextQuestion: 6
    TimePerQuestion: 30
    TimeToFirstHint: 10
    TimeToSecondHint: 5
    TimeToSecondHintShortWords: 13
    ShortWordLengthCutoff: 7

Garlic:
    Template: resources/garlic/Template.jpeg
    DarkTemplate: resources/garlic/DarkTemplate.png
    Font: resources/garlic/CooperHewitt-Heavy.otf

Pokemon:
    NoOfQuestions: 10
    QuestionLimit: 50
    TimeToFirstQuestion: 0
    TimeToNextQuestion: 6
    TimePerQuestion: 30
    TimeToFirstHint: 10
    TimeToSecondHint: 10
    PokemonDataAPI: https://pokeapi.co/api/v2/pokemon/{id}
    PokemonSpriteAPI: https://pokeres.bastionbot.org/images/pokemon/{id}.png
    TypeToEmojiMap:
        normal: ':white_large_square:'
        fighting: ':boxing_gloves:'
        flying: ':bird:'
        poison: ':skull_crossbones:'
        ground: ':orange_square:'
        rock: ':moyai:'
        bug: ':bug:'
        ghost: ':ghost:'
        steel: ':shield:'
        fire: ':fire:'
        water: ':ocean:'
        grass: ':herb:'
        electric: ':zap:'
        psychic: ':crystal_ball:'
        ice: ':snowflake:'
        dragon: ':dragon:'
        dark: ':new_moon:'
        fairy: ':fairy:'
    RegionWiseDex:
        all:
            start: 1
            end: 807
        kanto:
            start: 1
            end: 151
        johto:
            start: 152
            end: 251
        hoenn:
            start: 252
            end: 386
        sinnoh:
            start: 387
            end: 493
        unova:
            start: 494
            end: 649
        kalos:
            start: 650
            end: 721
        alola:
            start: 722
            end: 807
